body {
    background-color: #31363F;
}

/*navbar background*/
#section {
    background-image: url(../imgs/menubgimg.jpg);    /* ../ represents the parent of the current folder*/
}

 /*to make the navbar responsive*/

@media (min-width: 991px) {   
  
.tindcars {
       position: absolute;
       left: 43vw;
  }
  
}

@media (max-width: 991px) {
    .tindcars { 
       position: static;
    }
 }


/*menu elements*/
.divs {
    padding-top: 10px;
    padding-bottom: 10px;
}
.divs1 {
    padding-top: 15px;
    padding-bottom: 10px;
}

/*menu links*/
 .menu-links {
    color: white;
    background-color: transparent;
    text-decoration: none;
 }

/*all links*/
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
 }
  
/*background img*/
.responsive {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  
/*home page img*/
  .homep {
    background-image: url(../imgs/img4.jpg); 
    background-size: cover;
     background-position: center; 
     background-repeat: no-repeat; 
     width: 100%;
     height: 118vh;
  }

  .search {
    width: 250px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 10%;
    border-radius: 30px;
    font-size: 1.3rem;
  }

  @media (max-width:600px) {
    .search {
      left: 30%;
      font-size: 1rem;
      width: 200px;
    }
  }

  /*the team didn't like the search bar sadly*/
.search{
  display: none;
}

  /*search text*/
  .text {
    border-radius: 15px;
    border: 1px #000 solid;
    text-align: center; 
    background-color: transparent;
  }

  /* features*/
  #features {
    padding:5% 15% ;
    text-align: center;
    background-color: white;
 }

 .icon {
    margin-bottom: 20px;
    padding: 20px ;
 }

 .icon:hover {             /*pseudo class*/
  color:grey;
}

/*the slideshow*/
 #Ecars{
    padding: 4% 15% 4% 15% ;
    text-align: center;
    background-color: #31363F;
    color: white;
 }

/*slide show imgs : car exemples*/
#Ecars > .carousel > .carousel-inner > .carousel-item > a > .imgs {
  width:80%;
 }

/*responsive for tablets*/
@media (max-width: 990px)  {
  #Ecars > .carousel > .carousel-inner > .carousel-item > a > .imgs {
    width:100%;
   }

}

/*table */
.center {
    width: 60%;
    margin: 4% auto 50px auto;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 20px;
  }

  /*left side*/
  .td {
    width:40%;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 20px 0 0 20px;
    background-color: #BFFF00;
  }

  /*right side*/
  .td2 {
    background-color:#E5E1DA;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 0 20px 20px 0;
    text-align: center;
  }

  /*the second table*/
  /*left side*/
  .td01 {
    background-color: #E5E1DA;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 20px 0 0 20px;
    text-align: center;
  }  
 
  /*right side*/
  .td02{
    background-color: #ff6663;
    width:43%;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 0 20px 20px 0 ;
  }

/*responsive for phones table + car exemples*/
@media (max-width:489px) {

  .td {
    border-radius:20px;
  }

  .td2 {
    display: none;
  }

  .td01 {
    display: none;
  }

  .td02 {
    border-radius: 20px ;
  }

  #Ecars > .carousel > .carousel-inner > .carousel-item > a > .imgs {
    width:100%;
   }

   .btn {
    margin-left: 0;

  }
} 

  /*reviews slidshow*/
  #reviews {
    padding: 7% 15% ;
    text-align: center;
    background-color: #31363F;
    color: white;
}

/*reviews imgs*/
.rimg {
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 100%; 
    width:15%;  
}

@media (max-width: 1237px) {
  .rimg {
    width: 25%;
    margin-left: 100px;
  }
}

/*reviews*/
.h2 {
  font-size: 150%;
}


/*apple indroid*/

#Download {
  background-color: white;
  text-align: center;
  font-family: "Montserrat-Black 900";
  padding: 70px;
}

#h3 {
  font-size: 3rem ;
  padding-bottom: 30px;
}

/*buttons*/
.btn {
  min-width: 200px;

}

@media (min-width:560px) {
  .btn {
    margin-left: 20px;
  }
}

@media (max-width:582px ) {
  .btn {
    margin-bottom: 20px;
  }
}

/*footer*/

#footer {
  text-align: center;
  padding: 40px 20px;
  color: white;
} 


/*fb insta twitter icons*/
.icons {
  padding: 20px ;
}

#container1 {
  margin-top: 30px;
}

.leftpart {
  width: 32%; 
  float: left; 
  padding: 10px;
  text-align: center;
  padding-left: 30px;
}

.middlepart {
  width: 35%; 
  float: left; 
  padding: 10px;
  text-align: center;
  line-height: 2.3;
  padding-top:20px;
  padding-bottom: 20px;
  font-size: 1.2rem;
}

.rightpart {
  width: 32%; 
  float: left; 
  padding: 10px;
  padding-top: 70px;
  text-align: center;
}

#getT {
padding-bottom: 10px;
padding-left: 10px;
}

#realfooter {
  text-align: center; 
  display: block; 
  clear: both; 
  padding:20px;
  background-color: #31363F;
}

@media screen and (max-width:600px){
  .leftpart,.middlepart,.rightpart {
    width: 100%;
    padding-top: 10px;
  }
}

/*copyright*/

#p {
  text-align: center;
  padding-top: 20px;
  font-size: 2rem;
  color:#B21D27;
}
